* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, sans-serif;
  background-color: #f4f4f4; */
}

.container1 {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Left Section Styles */
.left-section {
  width: 30%;
  padding: 20px;
  background-color: #fff;
}

.left-section h1 {
  font-size: 22px;
  margin-bottom: 15px;
}

.search-boxes {
  position: relative;
  margin-bottom: 5px;
  padding: 0;
  margin-left: -15px;
  width: 95%;
}

/* .search-boxes input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
} */

.search-boxes input:focus {
  outline: none;
  border-color: 2px solid #936ed4;
  box-shadow: 0 0 5px rgba(147, 110, 212, 0.5);
}

.search-boxes {
  position: relative;
  margin-bottom: 20px;
  padding: 0;
  z-index: 1;
}

.search-boxes input:nth-child(2) {
  position: relative;
  z-index: 1;
}

.geocoder {
  position: relative;
  margin-bottom: 10px;
  z-index: 2;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: none !important;
  box-shadow: none !important;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 15px !important;
}

.mapboxgl-ctrl-geocoder--input {
  height: 40px !important;
  padding-right: 70px !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute !important;
  top: 50% !important;
  right: 50px !important;
  transform: translateY(-50%) !important;
  left: auto !important;
}

.mapboxgl-ctrl-geocoder--button {
  position: absolute !important;
  top: 50% !important;
  right: -170px !important;
  transform: translateY(-50%) !important;
  background: none !important;
  border: none !important;
}

.mapboxgl-ctrl-geocoder--suggestion {
  font-size: 14px !important;
  line-height: 1.3 !important;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-size: 15px !important;
}

.mapboxgl-ctrl-geocoder--suggestion-address {
  font-size: 13px !important;
}

/* Route Selection Button Styles */
.route-options {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: -15px;
}

.route-options button {
  padding: 7px 15px;
  background-color: #936ed4;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  margin: 0 5px;
}

.route-options button {
  background: #936ed4;
  color: white;
}

.route-options button.active {
  background: white;
  color: black;
  border-width: 2px 4px 4px 2px;
  border-style: solid;
  border-color: black;
}

/* Route Details Display Styles */
/* .directions-details {
  margin-top: 10px;
  padding: 10px;
  padding-left: 10px;
  line-height: 1.5;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
} */

.default-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.directions-details + .default-card {
  margin-top: 10px;
}

.directions-details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
  height: 400px;
  overflow-y: auto;
}

.directions-details p {
  margin: 0 0 5px 0;
}

.directions-details strong {
  font-size: 16px;
}

.directions-details::-webkit-scrollbar {
  width: 8px;
}

.directions-details::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.directions-details::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.directions-details::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.direction-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2em;
  width: 20px;
  text-align: center;
}

.direction-icon i {
  color: #936ed4;
}

.cards-container {
  height: calc(100vh - 200px);
  /* overflow-y: scroll; */
  overflow-y: auto;
  padding-right: 10px;
}

.place-card {
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
  max-height: 440px;
  overflow-x: hidden;
  position: relative;
}

.place-card::-webkit-scrollbar,
.cards-container::-webkit-scrollbar {
  width: 8px;
}

.place-card::-webkit-scrollbar-track,
.cards-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.place-card::-webkit-scrollbar-thumb,
.cards-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.place-card::-webkit-scrollbar-thumb:hover,
.cards-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .place-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
} */

.place-card h3 {
  margin-bottom: 5px;
}

.place-card h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.place-card .rating {
  color: #f39c12;
}

.place-card .address {
  margin-bottom: 10px;
  color: #666;
  font-weight: bold;
  font-size: 14px;
}

/* .place-card .toggle-hours {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
} */

/* .place-card details p {
  margin: 0;
  padding: 2px 0;
  font-size: 14px;
} */

.place-card details p {
  font-size: 14px;
  margin: 2px 0;
}

.place-card details {
  margin-bottom: 10px;
}

.place-card summary {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

.summary-with-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.summary-with-icon::after {
  content: "\25B6";
  margin-left: 8px;
  transition: transform 0.3s;
}
details[open] .summary-with-icon::after {
  transform: rotate(90deg);
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 14px;
  margin: 4px;
  cursor: default;
}

.chip-solid {
  background-color: #936ed4;
  color: white;
}
.chip-outline {
  background-color: transparent;
  color: #6c757d;
  border: 1px solid #6c757d;
}
.chip-icon-left {
  margin-right: 4px;
}
.chip-icon-left::before {
  content: "✓";
  font-weight: bold;
}

/* Right Section Styles */
.right-section {
  width: 70%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.glossary {
  margin-bottom: 10px;
}

.glossary h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.button-row {
  display: inline-block;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.glossary-buttons {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 10px;
}

.glossary-buttons button {
  background-color: #936ed4;
  color: white;
  padding: 9px 15px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  flex: 1 1 auto;
  min-width: 100px;
  max-width: 180px;
  font-weight: 500;
  border: black;
  border-style: solid;
  border-width: 2px 2px 5px 2px;
  transition: 0.3s;
}

.glossary-buttons button:hover {
  background-color: #fff;
  color: black;
}

.tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: white;
  border: 2px solid #936ed4;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tooltip-trigger:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip-left .tooltip-text {
  left: auto;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-right: 10px;
}

.tooltip-left .tooltip-text::after {
  top: 50%;
  left: 100%;
  bottom: auto;
  margin-left: 0;
  margin-top: -5px;
  border-color: transparent transparent transparent #555;
}

.learn-more-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #936ed4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.learn-more-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #936ed4;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 45%;
}

.dropdown label {
  /* display: block; */
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  white-space: nowrap;
}

.dropdown select {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.dropdown select:hover {
  border-color: #888;
}

.dropdown select:focus {
  outline: none;
  border: 2px solid #936ed4;
  box-shadow: 0 0 5px rgba(147, 110, 212, 0.5);
}

#map {
  flex-grow: 1;
  background-color: #e0e0e0;
}

.chart {
  width: 53%;
  height: 320px;
  padding: 20px;
  margin: 0 auto;
  cursor: pointer;
}

#chart-dropdown {
  border-radius: 10px;
  border: #936ed4;
  border-style: solid;
  border-width: 2px 2px 5px 2px;
}

#centerTypeDropdown {
  border-radius: 10px;
  border: #936ed4;
  border-style: solid;
  border-width: 2px 2px 5px 2px;
}

.card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.chart1,
.chart2 {
  width: 100%;
  height: 320px;
  padding: 20px;
  margin: 0 auto;
  cursor: pointer;
}

/* Popup style */
.mapboxgl-popup {
  max-width: 450px;
}

.mapboxgl-popup-content {
  padding: 20px;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
  width: 380px;
}

.popup-content h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.popup-content .address {
  margin-bottom: 15px;
  color: #666;
  font-size: 14px;
}

.popup-content details {
  margin-bottom: 15px;
}

/* .popup-content summary {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
} */

.popup-content .opening-hours p {
  margin: 2px 0;
  font-size: 14px;
  line-height: 2;
}

.popup-content .section-content {
  padding: 3px 0;
}

.popup-content details summary {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.popup-content details summary::after {
  content: "▼";
  float: right;
  transition: transform 0.3s;
}

.popup-content details[open] summary::after {
  transform: rotate(180deg);
}

.popup-content .chip {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  margin: 4px;
  cursor: default;
}

.popup-content .chip-solid {
  background-color: #936ed4;
  color: white;
}

.popup-content .chip-outline {
  background-color: transparent;
  color: #6c757d;
  border: 1px solid #6c757d;
}

.popup-content .chip-icon-left {
  margin-right: 4px;
}

.popup-content .chip-icon-left::before {
  content: "✓";
  font-weight: bold;
}

.mapboxgl-popup-content::-webkit-scrollbar {
  width: 8px;
}

.mapboxgl-popup-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.mapboxgl-popup-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.mapboxgl-popup-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
